body {
	font-family: 'Fredoka', serif;
}

.App {
	background-color: #f5f5f9;
	background-image: url("/img/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(157, 150, 60);
	height: 100%;

	.site-banner {
		padding: 20px;
		background-color: rgb(39, 38, 44);
    	border-bottom: 2px solid rgba(133, 133, 133, 0.1);
		text-align: center;
		color: #fff;
		font-weight: 600;

		a {
			color: rgb(255 217 2);
			text-decoration: underline;
		}
	}
	header {
		h1 {
			font-size: 48px;
			font-weight: 600;
			line-height: 1.1;
			color: #fff;
			text-shadow: rgb(0 0 0) 0px 0px 10px;	
		}

		p {
			color: #fff;
			text-shadow: rgb(0 0 0) 0px 0px 10px;
			font-size: 28px;
			font-weight: 600;
			text-align: center;
			margin: 20px 0;

			a {
				color: rgb(2, 156, 76);
				font-weight: 600;
				line-height: 1.5;
				font-size: 28px;
			}
		}
	}

	section {
		padding: 1.5rem;
	}
}

.card {
	max-width: 800px;
	margin: 0 auto;
	background-clip: padding-box;
	box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid #d9dee3;
	border-radius: 0.5rem;

	&__body {
		flex: 1 1 auto;
		padding: 1.5rem 1.5rem;
	}

	&.--calculator-settings {
		margin-bottom: 20px;
	}

	&.--calculator-table {
		.card__body {
			padding-top: 0;
			overflow: auto;
			height: 100%;
			max-height: 500px;
		}
	}
}

.calculator {
	&__settings {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-device-width: 1024px) {
			align-items: flex-start;
			flex-direction: column;
		}

		&__item {
			&__label {
				margin-bottom: 0.5rem;
				font-size: 1rem;
				font-weight: 500;
				color: #566a7f;
				display: block;
			}
			&__input {
				display: block;
				padding: 0.4375rem 0.875rem;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.53;
				color: #697a8d;
				background-color: #fff;
				background-clip: padding-box;
				border: 1px solid #d9dee3;
				outline-color: #233446;
				outline-width: 1px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border-radius: 0.375rem;
				transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

				@media only screen and (max-device-width: 1024px) {
					margin-bottom: 10px;
				}

				&.--balance {
					width: 150px;
				}

				&.--weeks {
					width: 100px;
				}
			}
			&__value {
				font-size: 1.25rem;
				font-weight: 500;
				line-height: 1.53;
				color: #566a7f;
			}
			&__button {
				margin-top: 25px;

				display: inline-block;
				font-weight: 400;
				line-height: 1.53;
				color: #697a8d;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
				background-color: transparent;
				border: 1px solid transparent;
				padding: 0.4375rem 1.25rem;
				font-size: 0.9375rem;
				border-radius: 0.375rem;
				transition: all .2s ease-in-out;

				color: #fff;
				background-color: #233446;
				border-color: #233446;
				box-shadow: 0 0.125rem 0.25rem 0 rgb(35 52 70 / 40%);

				&:hover {
					color: #fff;
					background-color: #202f3f;
					border-color: #202f3f;
					transform: translateY(-1px);
				}
			}
		}
	}
	&__table {
		width: 100%;
	}
}

.donation {
	.card__body {
		display: flex;
		flex-direction: row;
		justify-content: center;

		@media only screen and (max-device-width: 1024px) {
			flex-direction: column;
		}
	}
	&__content {
		padding-right: 20px;
		
		@media only screen and (max-device-width: 1024px) {
			padding-right: 0;
			padding-bottom: 20px;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	&__description {
		padding-right: 20px;
		font-size: 18px;
		margin-bottom: 15px;
	}
	&__wallet {
		border-radius: 4px;
		border: 1px solid #DDD;
		padding: 10px 20px;
		background: #ffd902;
		width: fit-content;
		margin-bottom: 10px;
		
		@media only screen and (max-device-width: 1024px) {
			font-size: 10px;
		}

		&__label {
			font-weight: 600;
			margin-bottom: 5px;
		}
		&__footer {
			font-size: 14px;
			color: #666;
		}
	}
	&__img {
		background-image: url("/img/donation.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 200px;
		height: 200px;
	}
}

header {
	padding-top: 40px;
}

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.1;
	color: #566a7f;
	text-align: center;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	color: #697a8d;
	vertical-align: middle;
	border-color: #d9dee3;
	caption-side: bottom;
	border-collapse: collapse;

	thead, tbody, tfoot, tr, td, th {
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		vertical-align: bottom;
	}

	tbody {
		position: relative;
		z-index: 0;
	}

	td, th {
		text-align: left;
		padding: 0.625rem 1.25rem;
		background-color: transparent;
		border-bottom-width: 1px;
		box-shadow: inset 0 0 0 9999px transparent;
		vertical-align: middle;

		@media only screen and (max-device-width: 1024px) {
			padding: 0.625rem 1rem;

			strong {
				white-space: nowrap;
			}
		}
	}

	th {
		position: sticky; 
		top: 0; 
		z-index: 1;
		padding-top: 20px;
		background-color: #fff;
		border-bottom: 2px solid #d9dee3;
	}
}